
body {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: "Sofadi One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #43822d;
    color: rgb(255, 255, 255);
    font-family: "Sofadi One", system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

img {
    max-width: 90%;
}